*{
  padding: 10px;
  margin: 10px;
}
body {
  font-size: 120%;
  background-color: #D1D0CE;
  text-align: center;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background-color: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.pgbtnhome{
  padding: 10px;
  font-size: 15px;
  color: black;
  background-color: : #B6B6B4;
  border: none;
  border-radius: 5px;
}
.homehead{
  text-align: center;
}
.logoutpg{
  text-align: center;
}
.shopcarttitle{

}
.shcrtbtns{
  padding: 10px;
  font-size: 15px;
  color: black;
  background-color: : #B6B6B4;
  border: none;
  border-radius: 5px;
}
.logincreds{
  text-align: center;
}
.movpgbtn{
  padding: 10px;
  font-size: 15px;
  color: black;
  background-color: : #B6B6B4;
  border: none;
  border-radius: 5px;
}
